:root {
  --accent-color: #2196f3;
  --text-grey-color: #757575;
  --text-white-color: #ffffff;
  --bgraund-grey-color: #2f303a;
  --clients-logo:#afb1b8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: #212121;
  font-size: 14px;
}

.main-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .main-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__but {
  font-family: inherit;
  font-style: normal;
  border: none;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: var(--text-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__head {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
}

.modal__form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal__form-input:hover {
  cursor: pointer;
  outline: none;
}

.modal__form-input:focus + .modal__form-icon {
  fill: var(--accent-color);
}

.modal__form-field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
  margin-bottom: 10px;
}

.modal__form-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 14px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-messege {
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-messege:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal__form-messege::placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-checkbox-policy {
  color: #757575;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .modal__form-checkbox-policy {
    font-size: 12px;
    line-height: 1.17px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__form-checkbox-policy {
    font-size: 14px;
    line-height: 1.7px;
    margin: 0 auto;
  }
}

.modal__form-checkbox-policy::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid;
  border-color: var(--text-grey-color);
  border-radius: 2px;
  margin-right: 7px;
}

.modal__form-checkbox:checked + .modal__form-checkbox-policy::before {
  background-color: var(--accent-color);
  background-image: url(../images/checkbox.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: transparent;
}

.modal__form-checkbox:focus + .modal__form-checkbox-policy::before {
  border-color: var(--accent-color);
}

.modal__form-checkbox-policy-link {
  color: var(--accent-color);
}

.form__but {
  padding: 10px 55px 10px 56px;
  margin-top: 30px;
  align-self: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--text-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 40px 40px 40px;
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover {
  border: 1px solid #2196f3;
}

.modal__close-btn:hover .modal__close-btn-icon {
  fill: var(--accent-color);
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.footer-social__list {
  display: flex;
}

.footer-social__list .footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__icon {
  fill: var(--text-white-color);
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link:hover:hover .social-icon,
.social-list__link:hover:focus .social-icon, .social-list__link:focus:hover .social-icon,
.social-list__link:focus:focus .social-icon {
  fill: var(--text-white-color);
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.173;
  }
}

.logo_white {
  color: white;
}

.logo_black {
  color: black;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 480px;
    height: 796px;
    overflow: auto;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu__container {
    width: 100%;
    height: 700px;
    padding-left: 40px;
    padding-right: 15px;
    padding-top: 48px;
    position: relative;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    padding: 0;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__contact {
    position: absolute;
    bottom: 48px;
  }
  .mobile-menu__list {
    list-style: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }
  .mobile-menu__list .link {
    color: #212121;
  }
  .mobile-menu__list .current {
    color: var(--accent-color);
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__contact__list {
    list-style: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }
  .mobile-menu__contact__list .link {
    color: var(--text-grey-color);
  }
  .mobile-menu__contact__list .mobile-menu__contact__current {
    font-size: 34px;
    color: var(--accent-color);
  }
  .mobile-menu__social-list {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    padding-top: 64px;
    display: inline-flex;
    align-items: center;
  }
  .mobile-menu__social-list .link {
    color: var(--accent-color);
  }
  .mobile-menu__social-item {
    display: inline;
  }
  .mobile-menu__social-item:not(:last-child)::after {
    content: '';
    display: inline-flex;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .header__menu-btn {
    display: none;
  }
}

.main-section {
  display: flex;
  flex-direction: column;
}

.buttons__btn {
  font-family: inherit;
  font-style: normal;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  transition-property: box-shadow, color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

.buttons__btn:hover, .buttons__btn:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  color: var(--text-white-color);
}

.buttons__list {
  margin: 0;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .buttons__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.buttons__list :not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .buttons__item {
    display: inline;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .buttons__btn {
    margin-bottom: 15px;
  }
}

.clients__header {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .clients__header {
    font-size: 36px;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  margin: 35px -15px -15px -15px;
}

@media screen and (min-width: 480px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.clients__item {
  margin: 15px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid var(--clients-logo);
  border-radius: 4px;
  fill: var(--clients-logo);
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 210px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  cursor: pointer;
}

.header {
  background: white;
  margin-left: 0px;
  margin-top: 0px;
}

.header__menu-btn {
  line-height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.header__mobile-menu-icon {
  height: 40px;
  width: 40px;
}

.header .contact__list {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header .contact__list {
    display: none;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
  }
  .header__container .logo {
    padding-top: 24px;
    margin-right: 93px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__container .logo {
    margin-right: 88px;
    padding-bottom: 26px;
    padding-top: 26px;
  }
  .contact__list {
    font-size: 12px;
    letter-spacing: 0.02em;
    padding-top: 21px;
    padding-bottom: 21px;
    display: flex;
    flex-direction: column;
  }
  .contact__list .mail {
    width: 14px;
    height: 10px;
  }
  .contact__list .tel {
    width: 10px;
    height: 14px;
  }
  .contact__list-icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    display: flex;
    justify-content: space-between;
  }
  .header__container .logo {
    padding-top: 24px;
    margin-right: 88px;
    padding-bottom: 25px;
  }
  .contact__list .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .contact__list {
    font-size: 14px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .contact__list .mail {
    width: 16px;
    height: 12px;
  }
  .contact__list .tel {
    width: 10px;
    height: 16px;
  }
  .contact__list-icon {
    margin-right: 10px;
  }
}

.border-header {
  border: 1px solid #ececec;
}

.contact__list {
  list-style: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact__list .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-grey-color);
}

.contact__list-icon {
  fill: var(--text-grey-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__list .navigation__item:hover .contact__list-icon,
.contact__list .navigation__item:focus .contact__list-icon {
  fill: var(--accent-color);
}

.potrtfolio__list {
  margin: -15px;
}

.potrtfolio__list .header-item {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.potrtfolio__list .text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-grey-color);
}

@media screen and (min-width: 768px) {
  .potrtfolio__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .potrtfolio__link {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.potrtfolio__item {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .potrtfolio__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .potrtfolio__item {
    width: 370px;
  }
}

.potrtfolio__item-text {
  color: #212121;
  background-color: var(--text-white-color);
  padding: 20px 24px;
  border: 1px;
  border-style: none solid solid solid;
  border-color: #eeeeee;
}

.potrtfolio__picture {
  width: 100%;
}

.potrtfolio__list-img {
  position: relative;
  overflow: hidden;
}

.potrtfolio__link {
  display: block;
}

.potrtfolio__link:hover, .potrtfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    width: 100%;
    height: 100%;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--text-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 77px 24px 77px 24px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .potrtfolio__link:hover .overlay,
  .potrtfolio__link:focus .overlay {
    transform: translateY(0%);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    width: 100%;
    height: 100%;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--text-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 77px 24px 77px 24px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .potrtfolio__link:hover .overlay,
  .potrtfolio__link:focus .overlay {
    transform: translateY(0%);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    width: 100%;
    height: 100%;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--text-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 77px 24px 77px 24px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .potrtfolio__link:hover .overlay,
  .potrtfolio__link:focus .overlay {
    transform: translateY(0%);
  }
}

@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__list {
  list-style: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation__list .link {
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__list .navigation__list--current {
  color: var(--accent-color);
}

.navigation__list .navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__item {
  display: inline;
}

.navigation__list .navigation__item {
  margin-left: -4px;
}

.navigation__list--current {
  position: relative;
}

.navigation__list--current:after {
  display: block;
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.hero {
  background: var(--bgraund-grey-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/bg-mob.jpg");
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/bg-mob@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/bg-tablet.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/bg.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/bg@2x.jpg");
  }
}

.hero__header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white-color);
  margin: 0 auto;
  max-width: 696px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .hero__header {
    font-size: 26px;
    line-height: 1.62;
  }
}

.hero__btn {
  padding: 10px 32px 10px 32px;
}

.our-team {
  background: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team__header {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .our-team__header {
    font-size: 36px;
    line-height: 1.17;
  }
}

.our-team__list {
  margin: 35px -15px -15px -15px;
}

.our-team__list .header-item {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-team__list .text {
  color: var(--text-grey-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .our-team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.our-team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 270px;
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .our-team__item {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .our-team__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__item {
    width: 270px;
  }
}

.our-team__picture {
  width: 100%;
}

.our-team__text {
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--text-white-color);
  padding-left: 32px;
  padding-right: 32px;
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

.services {
  padding-bottom: 94px;
}

.services__header {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.services__item {
  margin: 15px;
  position: relative;
}

.services__text {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 27px;
  padding-bottom: 27px;
}

.specifics {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .specifics {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.specifics__list {
  margin: -15px;
}

.specifics__list .text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-grey-color);
}

@media screen and (min-width: 768px) {
  .specifics__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.specifics__item {
  margin: 15px;
}

.specifics__item-icon, .specifics__item {
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .specifics__item-icon, .specifics__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .specifics__item-icon, .specifics__item {
    width: 270px;
  }
}

.specifics__header {
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .specifics__header {
    text-align: center;
  }
}

.specifics__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--bgraund-grey-color);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .footer-contact, .footer-social, .footer-form {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .footer-contact {
    width: 232px;
  }
  .footer-social {
    width: 206px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .footer-form {
    max-width: 450px;
  }
  .footer-form__form-input {
    width: 100%;
  }
  .footer-form__form-btn {
    margin-top: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .column_tablet {
    display: flex;
    align-items: baseline;
  }
  .footer-contact, .footer-social, .footer-form {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .footer-contact {
    width: 232px;
    margin-right: 165px;
  }
  .footer-social {
    width: 206px;
    margin-top: -42px;
  }
  .footer-form {
    margin-top: 60px;
  }
  .footer-form__form-input {
    width: 480px;
  }
  .footer-form__form-btn {
    margin-top: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .column, .column_tablet {
    display: flex;
    align-items: baseline;
  }
  .footer-form__form {
    display: flex;
    justify-content: center;
  }
  .footer-form__form-btn {
    position: relative;
    margin-left: 12px;
  }
  .footer-contact {
    margin-right: 70px;
  }
  .footer-social {
    margin-right: 93px;
  }
  .footer-form__form-input {
    width: 358px;
  }
}

.footer__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--text-white-color);
  margin-bottom: 20px;
}

.footer-form__form-btn {
  font-weight: bold;
  padding: 10px 28px;
}

.footer-form__form-input {
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-form__icon-send {
  fill: var(--text-white-color);
}

.footer-contact__list {
  list-style: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.footer-contact__list .link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact__list .link:hover, .footer-contact__list .link:focus {
  color: var(--accent-color);
}

.footer-contact__list .link .address {
  color: var(--text-white-color);
}

.footer-contact__address {
  font-style: normal;
}
/*# sourceMappingURL=main.css.map */