.footer{
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--bgraund-grey-color);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}



@media screen and (max-width: 767px) {
  .footer-contact, .footer-social, .footer-form{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .footer-contact {
    width: 232px;
  }

  .footer-contact__item:not(:last-child) {
    margin-bottom: 8px;
  }

  .footer-social{
    width: 206px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .footer-form{
    max-width: 450px;
  }

  .footer-form__form-input{
    width: 100%;
  }

  .footer-form__form-btn{
    margin-top: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

  .column_tablet{
    display: flex;
    align-items: baseline;
  }

  .footer-contact, .footer-social, .footer-form{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .footer-contact {
    width: 232px;
    margin-right: 165px;
  }

  .footer-contact__item:not(:last-child) {
    margin-bottom: 9px;
  }
  
  .footer-social{
    width: 206px;
    margin-top: -42px;
   
  }

  .footer-form{
    margin-top: 60px;
  }
  
  .footer-form__form-input{
    width: 480px;
  }

  .footer-form__form-btn{
    margin-top: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

}

@media screen and (min-width: 1200px) {
  .column, .column_tablet{
    display: flex;
    align-items: baseline;
  }

  .footer-form__form{
    display: flex;
    justify-content: center;
  }

  .footer-form__form-btn{
    position: relative;
    margin-left: 12px;
  }
  .footer-contact {
    margin-right: 70px;
  }
  .footer-social{
    margin-right: 93px;
  }

  .footer-form__form-input{
    width: 358px;
  }
}

.footer__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--text-white-color);
  margin-bottom: 20px;
}
  
.footer-form__form-btn{
  font-weight: bold;
  padding: 10px 28px;
}
  
.footer-form__form-input{
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
  
.footer-form__icon-send{
  fill: var(--text-white-color);
}
  
.footer-contact__list {
  list-style: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  & .link {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }

  }
}

.footer-contact__address {
  font-style: normal;
}

.footer-contact__list .address {
  color: var(--text-white-color);
  }






