.footer{
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--bgraund-grey-color);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.column{
  display: flex;
  align-items: baseline;
}
  
.footer-contact{
  width: 231px;
  margin-right: 70px;
}
.footer-social{
  margin-right: 93px;
}
  
.footer__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--text-white-color);
  margin-bottom: 20px;
}
  
.footer-form__form {
  display: flex;
  justify-content: center;
}
  
.footer-form__form-btn{
  position: relative;
  font-weight: bold;
  padding: 10px 28px;
  margin-left: 12px;
}
  
.footer-form__form-input{
  background-color: transparent;
  width: 358px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
  
.footer-form__icon-send{
  fill: var(--text-white-color);
}
  
.footer-contact__list {
  list-style: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  & .link {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
 
   & .address {
    color: var(--text-white-color);
    }
  }
}

.footer-contact__address {
  font-style: normal;
}








