.specifics {
  padding-top: 60px;
  padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
  }
}


.specifics__list {

  @media screen and (min-width: 768px) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  & .text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-grey-color);
  }
}

.specifics__item{
  @media screen and (max-width: 767px) {
    margin:0 auto;
    max-width: 450px;
    &:not(:last-child) {
      margin-bottom:30px;
    }
  }
  
  @media screen and (min-width: 768px) {
    width: 354px;
    margin: 15px;
  } 

  @media screen and (min-width: 1200px) {
    width: 270px;
    margin: 15px;
  }
}

.specifics__header{
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.specifics__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}