.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 480px;
    height: 796px;
    background-color: white;
    overflow: auto;
    padding-top: 48px;
    padding-bottom: 48px;

    &__conteiner{
        position: relative;
        padding-left: 25px;
    }
    &__close-btn{
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: transparent;
        padding: 0;
    }
}